@use "../mixins/responsive.scss" as *;
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @include responsive(tablet) {
    background-image: url(../../assets/images/bg-pattern-3.svg);
    background-repeat: no-repeat;
    background-position: 90% 100%;
  }

  @include responsive(desktop) {
    background-image: url(../../assets/images/bg-pattern-3.svg);
    background-repeat: no-repeat;
    background-position: 75% 95%;
  }

  &__image {
    position: relative;
    content: "";
    top: 50px;
    width: 281px;
    height: 281px;
    z-index: -1;
    @include responsive(tablet) {
      width: 281px;
      position: relative;
      left: -180px;
      top: 110px;
    }

    @include responsive(desktop) {
      width: 477px;
      position: relative;
      top: 100px;
      left: -400px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark-purple);
    margin-bottom: 74px;
    padding: 0 31px 0 31px;
    z-index: -1;
    @include responsive(tablet) {
      width: 514px;
      display: flex;
      flex-direction: column;
      align-items: start;
      text-align: left;
      position: relative;
      left: 100px;
    }

    @include responsive(desktop) {
      width: 730px;
      height: 413px;
    }
  }
}
