@use "../mixins/responsive.scss" as *;

.text {
  font-size: 16px;
  font-weight: 400;
  font-family: "Manrope", sans-serif;

  &--number {
    margin-bottom: 24px;
    font-size: 20px;
  }

  &--descript {
    margin-bottom: 40px;
    color: var(--davys-grey);
  }

  &--card {
    color: var(--white);
    
    line-height: 28px;
    margin-bottom: 24px;
  }
}
