@use "../mixins/responsive.scss" as *;

.title {
  font-family: "Fraunces", serif;
  font-weight: 600;

  &--header {
    font-size: 50px;

    color: var(--white);
    margin-bottom: 40px;

    @include responsive(tablet) {
      width: 473px;
      font-size: 3.75rem;
    }

    @include responsive(desktop) {
      width: 473px;
      font-size: 60px;
    }
  }

  &--info {
    color: var(--dark-purple);
    font-size: 28px;
    width: max-content;
  }

  &--card {
    font-size: 32px;
    color: var(--white);
    margin-bottom: 16px;
    line-height: 48px;

    @include responsive(tablet) {
      font-size: 48px;
    }

    @include responsive(tablet) {
      font-size: 56px;
    }
  }
}
